@model Project_FlightManagementSystem.Models.FMS_tbl_BonusMilesDEtails

@{
    ViewBag.Title = "DeleteBonusMilesById";
}

<style>
    body {
        background-image: url('../../scripts/B747-crashed.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: 100% 190%;
    }
</style>

<h3>Are you sure you want to delete this?</h3>

   <br /><br />

    <div style="text-align:center;color:red">
        @ViewBag.Messag
    </div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="Container" style="background-color:white">
            <br /><br />
            <div class="col-sm-offset-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BonusMilesId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BonusMilesId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FMS_tbl_FlightScheduleDetails.Flight)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FMS_tbl_FlightScheduleDetails.Flight)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FMS_tbl_FlightScheduleDetails.DeparturePlace)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FMS_tbl_FlightScheduleDetails.DeparturePlace)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FMS_tbl_FlightScheduleDetails.DestinationPlace)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FMS_tbl_FlightScheduleDetails.DestinationPlace)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FMS_tbl_FlightScheduleDetails.DepartureDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FMS_tbl_FlightScheduleDetails.DepartureDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FMS_tbl_FlightScheduleDetails.ArrivalTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FMS_tbl_FlightScheduleDetails.ArrivalTime)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.BonusMiles)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BonusMiles)
                    </dd>



                </dl>

                <div class="form-actions no-color col-sm-offset-2">
                    <input type="submit" value="Delete" class="btn btn-default btn-danger" />

                </div>
                <br /><br />
            </div>
        </div>
    </body>
}

