@model Project_FlightManagementSystem.Models.FMS_tbl_FlightScheduleDetails

@{
    ViewBag.Title = "Add Flight Schedule";
}

<h2>Schedule Flight</h2>
<style>
    #add {
        background-image: url('../../scripts/WHDQ-512383449.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: 100% 120%;
    }
</style>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body id="add">
        
        <div class="container" style="background-color:white">
            <br />
            <div class="text-center" style="color:green">
                @ViewBag.Message
            </div>
            <div class="text-center" style="color:red">
                @ViewBag.Messag
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-4">



                    <div class="form-group">
                        @Html.LabelFor(model => model.DeparturePlace, htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownListFor(model => model.DeparturePlace, (SelectList)ViewBag.ddlDeparturePlace, "select", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
                        @Html.ValidationMessageFor(model => model.DeparturePlace, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AirBusId, "AirBusId", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AirBusId, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.AirBusId, "", new { @class = "text-danger" })
                    </div>

                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.PremiumClassSeatingAvailability, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PremiumClassSeatingAvailability, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PremiumClassSeatingAvailability, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PremiumClassFare, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PremiumClassFare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PremiumClassFare, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
                    </div>

                   


                </div>


                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DestinationPlace, htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownListFor(model => model.DestinationPlace, (SelectList)ViewBag.ddlDestinationPlace, "select", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DestinationPlace, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstClassSeatingAvailability, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstClassSeatingAvailability, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FirstClassSeatingAvailability, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstClassFare, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstClassFare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstClassFare, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VAT, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                    </div>

                   






                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Flight, "Flight", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Flight, (SelectList)ViewBag.ddlFlight, "select", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
                        @Html.ValidationMessageFor(model => model.Flight, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EconomyClassSeatingAvailability, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.EconomyClassSeatingAvailability, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.EconomyClassSeatingAvailability, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EconomyClassFare, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.EconomyClassFare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EconomyClassFare, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TAX, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TAX, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TAX, "", new { @class = "text-danger" })
                    </div>


                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-6">
                    <input type="submit" value="Schedule" name="create" class="btn btn-default btn-primary" />
                </div>
            </div>
            <br />
        </div>
    </body>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
